.App {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  margin: 2rem;
}

.img-wrapper {
  text-align: center;
  max-width: 500px;
  max-height: 500px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.players-list {
  margin: 0;
  padding: 0;
}

.players-list > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.players-list > li > * > * {
  margin-right: 0.5rem;
}
